
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0077be 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #0077be;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Main Content Styles */
main {
    padding: 30px 0;
}

h1, h2 {
    color: #333;
}

/* Footer Styles */
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #0077be;
    text-align: center;
}

/* Skills Page Styles */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.skills-container section {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

/* Contact Page Styles */
.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form, .contact-info {
    flex-basis: 48%;
}

form {
    background: #f4f4f4;
    padding: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    background: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #0077be;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

/* About Page Styles */
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about-image, .about-text {
    flex-basis: 48%;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive Design */
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    .contact-form, 
    .contact-info,
    .about-image, 
    .about-text {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }
}